.form-group {
  font-family: 'Raleway', sans-serif;
}

.form-group input {
  height: 75px !important;
  margin-left: 15px;
  margin-right: 15px;
}

.form-group input#speaker {
  width: 250px !important;
}

.form-group input#text {
  width: 450px !important;
}
